* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101016;
  color: #ffffff;
  overflow: hidden; /* Prevent scrolling when zooming the book */
}
